/* SITE MENU */
.menu {
  display: flex;
  height: 6rem;
  background-color: rgba(0,0,0,0.4);
  box-shadow: 0 2px 8px #333;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid $purple;
}

.title .site-title {
  margin: 0;
  padding: {
    left: 2rem;
  }
  font: {
    size: 3rem;
    family: 'Changa', sans-serif;
  }
  color: $primary-text-color;
  text-shadow: 2px 2px 5px $purple;
  text-decoration: none;
  &:hover {
    color: $menu-hover-color;
  }
}

.menu-items {
  display: flex;
  justify-content: flex-end;
}

.menu-items > a {
  color: $primary-text-color;
  padding: {
    right: 3rem;
  }
  font: {
    size: 1.5rem;
    weight: 100;
  }
  letter-spacing: 0.25rem;
  text-decoration: none;
  align-self: center;
  &:hover {
    color: $menu-hover-color;
    cursor: pointer;
  }
}