doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet' href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/public/images/icons/recipe-box.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.menu
        .title
          a.site-title(href="/") Recipe Box
        .menu-items
          a(href="/categories") Categories
          a(href="/new-recipe") New Recipe
      
    block content

    block footer
      .footer
        p.credit Made with ❤️ by Decrepit Webdev
        p.copyright Copyright ©️ 2017. All rights reserved.