/* HOME PAGE */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.welcome h1 {
  font: {
    size: 8rem;
  }
  color: #444;
}

.welcome > h3 {
  font: {
    size: 2rem;
    weight: 600;
  }
  letter-spacing: 0.1rem;
  padding: {
    top: 2rem;
  }
  color: $purple;
}