mixin newRecipeForm
  .form-container
    .form-title
      h3 Enter New Recipe ✏️
    form.form-items(action="" method="POST")
      textarea(name="ingredients" placeholder="Enter your recipe's ingredients here")
