mixin newRecipeForm(recipe = {})
  .form-container
    .form-title
      h3 Enter New Recipe ✏️
      form.form-items(action=`/new-recipe/${recipe.id || ''}` method="POST")
        //- RECIPE TITLE/NAME
        label(for="title") Recipe Title
        input(type="text" name="title" placeholder="Enter your recipe title")
        //- GENERAL CATEGORIES
        - const categories = h.categories

        ul.categories
          each category in categories
            .category__choice
              input(type="checkbox" id=category value=category name="categories")
              label(for=category)= category
        //- INGREDIENTS
        label(for="ingredients") Ingredients
        textarea(name="ingredients" placeholder="Enter your recipe's ingredients")
        //- PREP/COOKING INSTRUCTIONS
        label(for="directions") Directions
        textarea(name="directions" placeholder="Enter your recipe's directions")
        //- USER GENERATED TAGS

        //- PHOTO UPLOAD
        label(for="photo") Photo
        input(class="photo-input" type="file" name="photo" accept="image/gif, image/png, image/jpeg, image/jpg")

        //- SAVE BUTTON
        input(type="submit" value="Save →" class="button")