mixin recipeCard(recipes)
  .recipe-cards
    each recipe in recipes
      .recipe-card__card
        h3.recipe-title= `${recipe.title}`
          hr#recipe-card
        h4.recipe-label Ingredients  
        p.recipe-ing.recipe-info= `${recipe.ingredients}`
        h4.recipe-label Directions  
        p.recipe-dir.recipe-info= `${recipe.directions}`
        - const categories = recipe.categories
        .recipe-cat
          each category in categories
            p= category