mixin recipeCard(recipes)
  .recipe-cards
    each recipe in recipes
      .recipe-card__card
        h3.recipe-title= `${recipe.title}`
          hr#recipe-card
        img(src=`/uploads/${recipe.photo}`, alt=`${recipe.title}` class="recipe-img")
        - const categories = recipe.categories
        .recipe-cat
          each category in categories
            p= category