body {
  font: {
    size: 10px;
    family: 'Lato', sans-serif;
  }
  background-color: #eee;
  background-image: url("https://res.cloudinary.com/djsqo4kys/image/upload/c_scale,f_auto,q_auto,w_1500/v1512119550/kitchen-bg_pfgsox.jpg");
	background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

