.footer {
  display: flex;
  font: {
    size: 1rem;
    weight: 100;
  }
  color: $purple;
  text-shadow: 1px 1px $primary-text-color;
  height: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.credit {
  margin: {
    top: 2rem;
    bottom: 0.75rem;
  }
  font: {
    size: 1.25rem;
    weight: 400;
  }
}