$primary-text-color: #fff;
$menu-hover-color: #ddd;
$purple: #6A5ACD;
$green: rgba(152,251,152,0.75);
$form-bg-color: rgba(0,0,0,0.35);

$border-radius-inputs: 0.5rem;
$input-bg-color: rgba(255,255,255,0.9);

